* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Asegura que padding y border se incluyan en el ancho y alto */
}

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    /* Evita desbordamiento horizontal */
}


/*Estilos para el nav*/
.menu_navegacion {
    display: flex;
    /* Centro los elementos */
    justify-content: space-around;
    /* Espacio entre elementos */
    align-items: center;
    /* Centro verticalmente los elementos */
    background: linear-gradient(to right, #005C98, #505BDA);
    height: 120px;
    /* Ajusta la altura según sea necesario */
    width: 100%;
    /* Asegura que el contenedor ocupe todo el ancho disponible */
    margin-bottom: 0%;
}

.menu_navegacion ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 22px;
}

.menu_navegacion li {
    float: left;
}

.menu_navegacion a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu_navegacion a:hover {
    background-color: #111;
    text-decoration: none;
    color: #fff;
}

.pie_pagina {
    background: linear-gradient(to right, #005C98, #505BDA);
    /* Degradado hacia abajo */
    color: white;
    padding: 5px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 60px;
}

.pie_pagina h4 {
    margin-bottom: 10px;
}

.info_contacto p,
.redes_sociales a,
.derechos_reservados p {
    margin: 5px 0;
}

.redes_sociales a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.redes_sociales a:hover {
    text-decoration: underline;
}